.login {
    padding: 10px;
    align-items: center;
    margin: 0 auto;
    width: 40%;
    align-items: center;
    justify-content: center;
    background-color: white;
    box-shadow: 0px 3px 3px 2px #aaaaaa;
}

img {
    width: 80%;
    height: 70%;
    margin: 0 auto;
    margin-left: 10%;
}

.contain {
    background-image: url('https://media1.popsugar-assets.com/files/thumbor/rKNin5H07K_ElsHPjp5YphEX6Co/fit-in/2048xorig/filters:format_auto-!!-:strip_icc-!!-/2020/09/23/953/n/1922507/e0f74b1ea4d60681_pexels-eberhard-grossgasteiger-2088142/i/Pastel-Sky-iPhone-Wallpaper.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 30px;
    height: 100%;
    // align-items: center;
    // justify-content: center;
}